body{

font-family:Arial;
background:#6b2fb3;
margin:0;
padding:0;

}

.contenedor{

max-width:900px;
margin:auto;
margin-top:40px;

background:white;
padding:30px;
border-radius:10px;

}

h1{

text-align:center;
color:#6b2fb3;

}

input,select,button{

width:100%;
padding:10px;
margin-top:10px;

}

button{

background:#6b2fb3;
color:white;
border:none;
cursor:pointer;

}

table{

width:100%;
margin-top:20px;
border-collapse:collapse;

}

th,td{

border:1px solid #ccc;
padding:8px;
text-align:center;

}

footer{

margin-top:40px;
text-align:center;
color:white;

}